% ----------------------------------------------------------------------
% _extracurricular.tex.j2 — Renders the Extracurricular section
% ----------------------------------------------------------------------

((* if extracurricular *))
\section{\texorpdfstring{\color{andreblue}Extracurricular Activities}{Extracurricular Activities}}
\resumeSubHeadingListStart

    % Loop through each category block
    ((* for section in extracurricular *))

      \hobbySubheading
        {((( section.category )))}
        {
          \resumeItemListStart
            % Loop through the list found at the 'items' key
            ((*- for item in section['items'] *))

              \resumeItemWithDate
                {((( item.description )))}
                {((( item.date )))}

            ((*- endfor *))
          \resumeItemListEnd
        }
    ((* endfor *))

\resumeSubHeadingListEnd
((* endif *))