((* if signature *))
    % Push this content to the bottom of the page,
    % regardless of how much text precedes it.
    \vspace*{\fill}%

    \makebox[2.5in]{\hrulefill}\\
    ((( signature.location )))\hspace{80pt} \today
    \\
    \vspace{-51pt}
    \hspace{20pt}\includegraphics[width=5cm]{assets/((( signature.pdf_name )))}
((* endif *))